body {
    background: #F8FAFE;
    font-size: 16px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
}

.page {
    margin: 0 auto;
    max-width: 1500px;
}

#top {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: rgb(235, 229, 229);
    width: 1400px;
    height: 80px;
    top: 0;
    align-items: center;
    padding: 0 50px;
    z-index: 1;
}

.top {
    display: flex;
    gap: 5px;
}

.favicon {
    height: 43px;
    margin-top: -2px;
}

.my-project {
    font-weight: 700;
    font-size: 44px;
    margin: 0;
}

.my {
    color: #FF5722;
}

.headicon {
    display: flex;
    padding: 10px 0 0 0;
    gap: 20px;    
    width: 120px;
    height: 70px;
}

.countheart {
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    padding: 10px 0;
}

.headheart {
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
    margin: auto;
    inset: 0;
}

.numberheart {
    display: none;
    justify-content: center;
    align-items: center;
    background: #F36223;
    border-radius: 50px;
    position: absolute;
    padding: 3px 5px;
    top: 10px;
    right: 0;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
}

.countcart {
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    padding: 10px 0;
}

.headcart {
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
    margin: auto;
    inset: 0;
}

.numbercart {
    display: none;
    justify-content: center;
    align-items: center;
    background: #F36223;
    border-radius: 50px;
    position: absolute;
    padding: 3px 5px;
    top: 10px;
    right: 0;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 80px;
    padding: 8px 0;
    gap: 4px;
}

.device {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 20px;
    gap: 10px;
}

.foto {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 10px;
    padding: 0;
    gap: 10px;      
}

.foto__img {
    height: 387px;
}

.container {
    display: flex;
    align-items: flex-start;
    margin-left: 50px;
    margin-top: 30px;
    padding: 0;
    gap: 100px;
}

.allcharacteristics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 880px;
    padding: 0;
}

.product-color {
    font-weight: 700;
}

.color-selection {
    display: flex;
    margin-top: 15px;
    padding: 0;
    gap: 10px;
}

.color-selection__img {
    height: 60px;
}

.color-selection__btn {
	display: inline-block;
    visibility: hidden;
    position: absolute;
}

.color-selection__btn + label {
    display: flex;
    box-sizing: border-box;
    border: 1px solid #888888;
    background-color: #F8FAFE;
    border-radius: 4px;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.color-selection__btn:hover + label {
    background: #F2F2F2;
}

.color-selection__btn[type=radio]:checked + label {
    border: 2px solid #F36223;
    border-radius: 4px;
}

.color-selection__btn:active + label {
    border: 2px solid #A93A09;
    border-radius: 4px;
}

.memory {
    margin-top: 30px;
}

.memory__title {
    font-weight: 700;
}

.volume {
    display: flex;
    margin-top: 15px;
    gap: 10px;
}

.volume__btn {
	display: inline-block;
    visibility: hidden;
    position: absolute;
}

.volume__btn + label {
    display: flex;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #F8FAFE;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

.volume__btn:hover + label {
    background: #F2F2F2;
}

.volume__btn[type=radio]:checked + label {
    border: 2px solid #F36223;
    border-radius: 4px;}

.volume__btn:active + label {
    border: 2px solid #A93A09;
    border-radius: 4px;
}

.charakter {
    margin-top: 30px;
}

.charakter-title {
    font-weight: 700;
}

.charakterlist {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
}

.charakterlist__text {
    display: flex;
    margin: 0;
    align-items: center;
    gap: 10px;
}

.charakterlist__text::before {
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #888888;
}

.text {
    margin-top: 30px;
}

.text__title {
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 700;
}

.paragraf {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
    width: 880px;
    line-height: 22px
}

.table {
    border-collapse: collapse;
    border: 1px solid #888888;
    width: 880px;
}

.table-head {
    padding: 10px;
    border: 1px solid #888888;
    align-self: stretch;
}

.table-body {
    padding: 10px;
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    align-self: stretch;
}

.table-line {
    cursor: pointer;
}

.table-line:hover {
    background: hsl(98, 46%, 79%);
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 420px;
    gap: 40px;
}

.important {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 420px;
    align-self: stretch;
    box-sizing: border-box;
}

.costhead {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    padding: 0;
    width: 380px;
    gap: 10px;
}

.like {
    visibility: visible;
    background-image: url("../img/heart_gray.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.like-add {
    display: none;
    background-image: url("../img/heart_orange_background.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 30px;
    height: 26px;
    cursor: pointer;
}

.likeicon {
    width: 30px;
    height: 30px;
}

.like:hover {
    visibility: visible;
    background-image: url("../img/heart_orange.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.like:active {
    visibility: visible;
    background-image: url("../img/heart_red.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* .costhead::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../img/heart_gray.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    justify-content: space-between;
    cursor: pointer;
}

.costhead:hover::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../img/heart_orange.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    justify-content: space-between;
    cursor: pointer;
}

.costhead:active::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../img/heart_red.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
} */

.cost {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.oldcost {
    display: flex;
    align-items: center;
    gap: 10px;
}

.oldcost__junk {
    color: #888888;
    text-decoration-line: line-through;
}

.oldcost__sale {
    display: flex;
    background: #F36223;
    border-radius: 500px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 4px 8px;
}

.newcost {
    font-size: 32px;
    margin: 0;
}

.uber {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 20px;
    gap: 10px;
}

.basket {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: #F36223;
    border-color: #F36223;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 20px;
    align-self: stretch;
    width: 380px;
    padding: 20px 49px;
    cursor: pointer;
    gap: 15px;
}

.basket::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.basket:hover {
    background: #DA4A0C;
}

.basket:active {
    background: #A93A09;
}

.reklama {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 10px;
}

.reklama__text {
    font-size: 14px;
    color: #888888;
}

.reklama__price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}

.frame {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    gap: 10px;
    background: #F0F0F0;
    border: 1px dashed #888888;
    align-self: stretch;
}

.frametext {
    font-size: 14px;
    color: #888888;
}

.crumbs {
    color: #018ad2;
    text-decoration: none;
}

.crumbs:hover {
    color: #F36223;
}

.crumbs:active {
    color: #A93A09;
}

.models {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;   
    gap: 15px;
}

.models__title {
    margin: 0;
    font-weight: 700;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    margin-top: 50px;
    width: 880px;
    gap: 25px;
}

.review-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 10px;
}

.review-head__text {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.review-head__title {
    margin: 0;
    padding: 0;
}

.review-head__number {
    color: #888888;
    font-size: 24px;
    font-weight: 700;
}

.review-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.review-client {
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }

.review-client__foto {
    height: 140px;
    border-radius: 50%;
}

.review-client__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.review-client__head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.review-client__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.review-client__stars {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
}

.review-client__star {
    height: 30px;
}

.review-client__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.review-client__paragraph {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    align-self: stretch;
}

.separator {
    box-sizing: border-box;
    height: 1px;
    border-top: 1px dashed #888888;
    align-self: stretch;
    margin-left: 170px;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 710px;
    margin-top: 60px;
    margin-left: 50px;
    padding: 0 0 0 170px;
    gap: 15px;
}

.form-box__form {
    border: none;
    margin: 0;
    padding: 0;
}

.form-box__header {
    font-weight: 700;
}

.form-box__name-reiting {
    display: flex;
    margin-top: 15px;
    gap: 40px;
}

.form-box__name {
    box-sizing: border-box;
    border: 1px solid #888888;
    width: 500px;
    height: 49px;
    padding: 15px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.form-box__name:hover {
    border: 1px solid #000000;
}

.name-error {
    visibility: hidden;
    box-sizing: border-box;
    border: 1px solid #DA4A0C;
    background: #DA4A0C;
    width: 500px;
    padding: 8px 20px;
    color: #FFFFFF;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
}

.form-box__reiting {
    box-sizing: border-box;
    border: 1px solid #888888;
    width: 170px;
    height: 49px;
    padding: 15px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.form-box__reiting:hover {
    border: 1px solid #000000;
}

.rate-error {
    visibility: hidden;
    box-sizing: border-box;
    border: 1px solid #DA4A0C;
    background: #DA4A0C;
    width: 170px;
    padding: 8px 20px;
    color: #FFFFFF;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
}

.form-box__review {
    box-sizing: border-box;
    border: 1px solid #888888;
    width: 710px;
    height: 190px;
    padding: 15px 20px;
    margin-top: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    resize: none;
}

.form-box__review:hover {
    border: 1px solid #000000;
}

.form-box__button-send {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    background: #F36223;
    border-color: #F36223;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 30px;
    padding: 10px 20px;
    cursor: pointer;
}

.form-box__button-send:hover {
    background: #DA4A0C;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin: 100px 0 0 0;
}

.footer-text {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    font-weight: 400;
    font-size: 14px;
    order: 0;
}

.footer-text__label {
    font-weight: 700;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    body {
        background: #F8FAFE;
        font-size: 16px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
    }
    
    .page {
        margin: 0 auto;
        max-width: 1024px;
    }

    #top {
        display: flex;
        position: fixed;
        justify-content: space-between;
        background-color: rgb(235, 229, 229);
        width: 994px;
        height: 80px;
        top: 0;
        align-items: center;
        padding: 0 15px;
        z-index: 1;
    }
    
    .top {
        display: flex;
        gap: 5px;
    }
    
    .favicon {
        height: 43px;
        margin-top: -2px;
    }
    
    .my-project {
        font-weight: 700;
        font-size: 44px;
        margin: 0;
    }
    
    .my {
        color: #FF5722;
    }
    
    .headicon {
        display: flex;
        padding: 10px 0 0 0;
        gap: 20px;    
        width: 120px;
        height: 70px;
    }
    
    .countheart {
        display: flex;
        position: relative;
        width: 50px;
        height: 50px;
        padding: 10px 0;
    }
    
    .headheart {
        display: flex;
        background-repeat: no-repeat;
        align-items: center;
        margin: auto;
        inset: 0;
    }
    
    .numberheart {
        display: none;
        justify-content: center;
        align-items: center;
        background: #F36223;
        border-radius: 50px;
        position: absolute;
        padding: 3px 5px;
        top: 10px;
        right: 0;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
    }
    
    .countcart {
        display: flex;
        position: relative;
        width: 50px;
        height: 50px;
        padding: 10px 0;
    }
    
    .headcart {
        display: flex;
        background-repeat: no-repeat;
        align-items: center;
        margin: auto;
        inset: 0;
    }
    
    .numbercart {
        display: none;
        justify-content: center;
        align-items: center;
        background: #F36223;
        border-radius: 50px;
        position: absolute;
        padding: 3px 5px;
        top: 10px;
        right: 0;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
    }

    .breadcrumbs {
        display: flex;
        align-items: center;
        margin-left: 15px;
        padding: 8px 0;
        gap: 4px;
    }
    
    .device {
        display: flex;
        align-items: center;
        font-size: 32px;
        font-weight: 700;
        margin-left: 15px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 0 20px;
        gap: 10px;
    }
    
    .foto {
        display: flex;
        align-items: center;
        margin-left: 15px;
        margin-top: 10px;
        padding: 0;
        gap: 10px;      
    }

    .foto__img {
        height: 272px;
    }
    
    .container {
        display: flex;
        align-items: flex-start;
        margin-left: 15px;
        margin-top: 30px;
        padding: 0;
        gap: 40px;
    }
    
    .allcharacteristics {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 594px;
        padding: 0;
    }
    
    .product-color {
        font-weight: 700;
    }
    
    .color-selection {
        display: flex;
        margin-top: 15px;
        padding: 0;
        gap: 10px;
    }
    
    .color-selection__img {
        height: 60px;
    }

    .color-selection__btn {
        display: inline-block;
        visibility: hidden;
        position: absolute;
    }

    .color-selection__btn + label {
        display: flex;
        box-sizing: border-box;
        border: 1px solid #888888;
        background-color: #F8FAFE;
        border-radius: 4px;
        width: 80px;
        height: 80px;
        justify-content: center;
        align-items: center;
        cursor:pointer;
    }

    .color-selection__btn:hover + label {
        background: #F2F2F2;
    }

    .color-selection__btn[type=radio]:checked + label {
        border: 2px solid #F36223;
        border-radius: 4px;
    }

    .color-selection__btn:active + label {
        border: 2px solid #A93A09;
        border-radius: 4px;
    }
    
    .memory {
        margin-top: 30px;
    }
    
    .memory__title {
        font-weight: 700;
    }
    
    .volume {
        display: flex;
        margin-top: 15px;
        gap: 10px;
    }
    
    .volume__btn {
        display: inline-block;
        visibility: hidden;
        position: absolute;
    }
    
    .volume__btn + label {
        display: flex;
        padding: 10px 20px;
        box-sizing: border-box;
        background-color: #F8FAFE;
        border: 1px solid #888888;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .volume__btn:hover + label {
        background: #F2F2F2;
    }
    
    .volume__btn[type=radio]:checked + label {
        border: 2px solid #F36223;
        border-radius: 4px;}
    
    .volume__btn:active + label {
        border: 2px solid #A93A09;
        border-radius: 4px;
    }
    
    .charakter {
        margin-top: 30px;
    }
    
    .charakter-title {
        font-weight: 700;
    }
    
    .charakterlist {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        gap: 10px;
    }
    
    .charakterlist__text {
        display: flex;
        margin: 0;
        align-items: center;
        gap: 10px;
    }
    
    .charakterlist__text::before {
        content: '';
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: #888888;
    }
    
    .text {
        margin-top: 30px;
    }
    
    .text__title {
        margin-top: 30px;
        margin-bottom: 15px;
        font-weight: 700;
    }
    
    .paragraf {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        gap: 15px;
        width: 594px;
        line-height: 21.7px;
    }
    
    .aside {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 360px;
        gap: 40px;
    }
    
    .important {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 15px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        width: 360px;
        align-self: stretch;
        box-sizing: border-box;
    }
    
    .costhead {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        padding: 0px;
        width: 320px;
        gap: 10px;
    }
    
    .like {
        visibility: visible;
        background-image: url("../img/heart_gray.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .like-add {
        display: none;
        background-image: url("../img/heart_orange_background.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 30px;
        height: 26px;
        cursor: pointer;
    }

    .likeicon {
        width: 30px;
        height: 30px;
    }

    .like:hover {
        visibility: visible;
        background-image: url("../img/heart_orange.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .like:active {
        visibility: visible;
        background-image: url("../img/heart_red.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
        
    /* .costhead::after {
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image: url("../img/heart_gray.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        justify-content: space-between;
        cursor: pointer;
    }
    
    .costhead:hover::after {
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image: url("../img/heart_orange.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        justify-content: space-between;
        cursor: pointer;
    }
    
    .costhead:active::after {
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image: url("../img/heart_red.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        justify-content: space-between;
        cursor: pointer;
    } */

    .cost {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    
    .oldcost {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .oldcost__junk {
        color: #888888;
        text-decoration-line: line-through;
    }
    
    .oldcost__sale {
        display: flex;
        background: #F36223;
        border-radius: 500px;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        padding: 4px 8px;
    }
    
    .newcost {
        font-size: 32px;
        margin: 0;
    }
    
    .uber {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 0 20px;
        gap: 10px;
    }
    
    .basket {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background: #F36223;
        border-color: #F36223;
        width: 320px;
        border-radius: 4px;
        color: #FFFFFF;
        font-size: 20px;
        align-self: stretch;
        padding: 20px 40px;
        cursor: pointer;
        gap: 15px;
    }
    
    .basket::before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url("../img/cart.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }

    .basket:hover {
        background: #DA4A0C;
    }
    
    .basket:active {
        background: #A93A09;
    }
    
    .basket__text {
        color: #FFFFFF;
        font-size: 20px;
    }
    
    .reklama {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 10px;
    }
    
    .reklama__text {
        font-size: 14px;
        color: #888888;
    }
    
    .reklama__price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        align-self: stretch;
    }
    
    .frame {
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 10px;
        gap: 10px;
        background: #F0F0F0;
        border: 1px dashed #888888;
        align-self: stretch;
    }
    
    .frametext {
        font-size: 14px;
        color: #888888;
    }
    
    .crumbs {
        color: #018ad2;
        text-decoration: none;
    }
    
    .crumbs:hover {
        color: #F36223;
    }
    
    .crumbs:active {
        color: #A93A09;
    }
    
    .models {
        display: none;
    }
    
    .review {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 15px;
        margin-top: 50px;
        width: 880px;
        gap: 25px;
    }
    
    .review-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        gap: 10px;
    }
    
    .review-head__text {
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }
    
    .review-head__title {
        margin: 0;
        padding: 0;
    }
    
    .review-head__number {
        color: #888888;
        font-size: 24px;
        font-weight: 700;
    }
    
    .review-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }
    
    .review-client {
        display: flex;
        align-items: flex-start;
        gap: 30px;
      }
    
    .review-client__foto {
        height: 100px;
        border-radius: 50%;
    }
    
    .review-client__box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    
    .review-client__head {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    
    .review-client__name {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }
    
    .review-client__stars {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
    }
    
    .review-client__star {
        height: 20px;
    }
    
    .review-client__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    
    .review-client__paragraph {
        margin: 0;
        font-size: 14px;
        line-height: 17px;
        align-self: stretch;
    }
    
    .separator {
        box-sizing: border-box;
        height: 1px;
        border-top: 1px dashed #888888;
        align-self: stretch;
        margin-left: 170px;
    }
    
    .form-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 710px;
        margin-top: 60px;
        margin-left: 15px;
        padding: 0;
        gap: 15px;
    }
    
    .form-box__form {
        border: none;
        margin: 0;
        padding: 0;
    }
    
    .form-box__header {
        font-weight: 700;
    }
    
    .form-box__name-reiting {
        display: flex;
        margin-top: 15px;
        gap: 40px;
    }
    
    .form-box__name {
        box-sizing: border-box;
        border: 1px solid #888888;
        width: 500px;
        height: 49px;
        padding: 15px 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
    }
    
    .form-box__name:hover {
        border: 1px solid #000000;
    }
    
    .form-box__reiting {
        box-sizing: border-box;
        border: 1px solid #888888;
        width: 170px;
        height: 49px;
        padding: 15px 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
    }
    
    .form-box__reiting:hover {
        border: 1px solid #000000;
    }
    
    .form-box__review {
        box-sizing: border-box;
        border: 1px solid #888888;
        width: 710px;
        height: 190px;
        padding: 15px 20px;
        margin-top: 30px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        resize: none;
    }
    
    .form-box__review:hover {
        border: 1px solid #000000;
    }
    
    .form-box__button-send {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
        background: #F36223;
        border-color: #F36223;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        border-radius: 4px;
        margin-top: 30px;
        padding: 10px 20px;
        cursor: pointer;
    }
    
    .form-box__button-send:hover {
        background: #DA4A0C;
    }
    
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        margin: 100px 0 0 0;
    }
    
    .footer-text {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        font-weight: 400;
        font-size: 14px;
        order: 0;
    }
    
    .footer-text__label {
        font-weight: 700;
    }
}